/* src/pages/Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--light-green-bg);
}

.login-form {
  background: var(--white);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-title {
  margin-bottom: 10px;
  color: var(--dark-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.login-title .material-symbols-outlined {
  font-size: 32px;
  color: var(--primary-green);
}

.login-subtitle {
    margin-bottom: 30px;
    color: var(--primary-green);
}

.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--font-family-sans);
}

.login-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-green);
  color: var(--white);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #457a5a;
}

.error-message {
    color: #D32F2F;
    margin-top: 15px;
    font-weight: 500;
}